*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0, dlig 0;
          font-feature-settings: kern 1, liga 1, calt 1, pnum 1, tnum 0, onum 1, lnum 0, dlig 0;
}

html,
body,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

ul,
li {
  outline: 0;
  border: 0;
  list-style: none;
}

span {
  margin: 0;
}

body {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1057px;
  margin: 0px auto;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.menu__list .list {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #000000;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__button .button {
  background: #4285F4;
  border-radius: 5px;
}
.header__button .button:hover {
  background: #6ca2f8;
}

.button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  padding: 14px 30px;
  background: #EC5863;
  border-radius: 5px;
  -webkit-transition: background-color 0.6s ease 0s;
  transition: background-color 0.6s ease 0s;
}
.button:hover {
  background: #e77e85;
}

.main__container {
  padding: 157px 0 50px 0;
}

.main_healthy {
  padding-bottom: 48px;
}

.healthy_textPlusimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
}

.getStarted_text_p,
.staySafe_text_p,
.medicalExperts_text_p,
.healthcare_text_p {
  margin: 12px 0 36px 0;
  max-width: 363.68px;
}

.getStarted_text_h1,
.staySafe_text_h2,
.medicalExperts_text_h2,
.healthcare_text_h2 {
  max-width: 482px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.medicalExperts_text {
  max-width: 393px;
}

.color_blue {
  color: #4285F4;
}

.fightTogether {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 856px;
  margin: 79px 42px 0px 72px;
  padding-bottom: 79px;
  gap: 149px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color_red {
  color: #EC5863;
}

.main_medicalExperts {
  max-width: 989px;
  margin: 61px 40px 116px 28px;
}

.medicalExperts_preview {
  margin: 53px 121px 47px 125px;
}

.medicalExperts_textAndVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 46px;
  gap: 74px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56.7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 382px;
  margin: 0 auto;
}